/* CommentsList.css */

.comments-list-container {
  background-color: white;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}

.comments-list {
  padding: 12px 16px;
  background-color: white;
}

.comments-list-empty {
  padding: 20px;
  text-align: center;
  background-color: white;
}

.comments-list-empty p {
  color: #666666;
  font-size: 14px;
  margin: 0;
  font-weight: 400;
}
