.linkedin-loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.linkedin-loader-container {
  width: 200px;
  height: 200px;
  background-size: cover;
  vertical-align: middle;
}

.linkedin-loader-container .fa-linkedin {
  display: block;
  font-size: 5em;
  text-align: center;
  color: #0077B5;
}

.linkedin-loader-line {
  height: 3px;
  width: 100%;
  background: #e8e8e8;
  margin-top: 60px;
}

.linkedin-loader-inner {
  width: 100%;
  height: inherit;
  background: #0077B5;
  animation: linkedin-slide 2s ease-in-out infinite;
}

@keyframes linkedin-slide {
  0% {
    transform-origin: left;
    transform: scaleX(0.3);
  }
  25% {
    transform-origin: left;
    transform: scaleX(1);
  }
  26% {
    transform-origin: right;
    transform: scaleX(1);
  }
  50% {
    transform-origin: right;
    transform: scaleX(0.3);
  }
  75% {
    transform-origin: right;
    transform: scaleX(1);
  }
  76% {
    transform-origin: left;
    transform: scaleX(1);
  }
  100% {
    transform-origin: left;
    transform: scaleX(0.3);
  }
}
